body {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  padding: 80px 70px 15px 70px;
  border: 3px solid black;
  gap: 20px;}
header {
  display: block;
  gap: 20px;
  align-items: center;
  padding-right: 10px ;
  border-top: 3px solid black;
  
}
a:link {
  color: black;
}
a:link:hover {
  color: white;
}
a:link:hover {
  color: white;
}

.address {
    display: block;
    list-style: none;
    gap: 20px;
    padding: 10px;
    margin: 0;  
    justify-content: end;
  }
.address, a{
  text-decoration: none;  
  color: black;
  font-weight: bold;
}
.title {
  font-size: 1.1em;
  font-weight: bold;
  color: green;
  margin-bottom: 10px;
}
.about-me {
  flex-direction: column;
  font-size: 1.1em;
  font-weight: bold;
  color: green;
}
.education-title {
  font-size: 1.1em;
  font-weight: bold;
  color: green;
  margin-bottom: 10px;
}
.experience-title {
  font-size: 1.1em;
  font-weight: bold;
  color: green;
  margin-bottom: 10px;
}